<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.31.3" targetFramework="net45" />
  <package id="AutoFixture.AutoNSubstitute" version="3.31.1" targetFramework="net45" />
  <package id="FluentAssertions" version="3.5.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.42" targetFramework="net45" />
</packages>